.screen {
	width: 252px;
	height: 60px;
	background: #1F1F1F;
	color:white;
	font-size:22pt;
	text-align:right;
}

.box {
	height: 60px;
	width: 60px;
	background: #D6D5DC;
	display: inline-block;
	text-align: center;
	margin-top: 2px;
	font-size: 16pt;
}

.box.orange {
	background: #F88E0E;
	color:white;
}

.box2 {
	width: 60px;
	background: gray;
	height: 122px;
	display: inline-block;
	position: absolute;
	margin-top: 2px;
	font-size: 16pt;
	text-align: center;
}

#clear {
    margin-top:2px;
    position:absolute;
    margin-left:4px;

}